
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100%;
}

a{
    text-decoration: none;
}

.subtitulos{
    /* background-color: #df744a; */
    height: 50px;
    /* position:relative; */
    /* overflow: hidden; */
}

.subtitulos-dentro{
    background-color:#df744a;
    height: 2px;
    margin-top: -15px;
}

.logo{
    padding: 13px;
    width: 70px;
    height: 70px;
    padding-left: 15px;
}

.logo-div{
    width: 20%;
    display: flex;
    align-items: center;
}

.navigation-bar{
    background-color:white;
    height: 90px;

    display: flex;
    /* justify-content:baseline; Alineación horizontal (centro) */
    /* align-items: center; */

}

.nav-a{
    font-family: 'DM Sans', sans-serif;
    color: #df744a;
    padding: 15px;
    font-weight: bolder;
}

.nav-a:hover{
    font-size: 18px;
}

.a-elementos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;

}

.video-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

video{
    width: 100%;
    height: 87%;
    /* border:4px dashed powderblue; */
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image: url("../img/presentacion2.png");
    background-size: 100% 100%;

}

.nombre{
    /* background-color: khaki; */
    font-family: 'Bad Script', cursive;
    width: 600px;
    height: 200px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrera{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carrera p{
    font-family: 'DM Sans', sans-serif;
    padding: 15px;
}

.habilidades{
    /* background-color:bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades h1{
    color: #FAD02C;
    font-family: 'DM Sans', sans-serif;
    padding: 20px;
    font-size: 50px;
    font-weight: bolder;
}

.div-lenguaje{
    width: 260px;
    height: 300px;
    background-color: rgb(207, 187, 241);
    margin: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #7a7a7a;

}

.rotar-izq{
    transform: rotate(-8deg);
}

.rotar-der{
    transform: rotate(8deg);
}

.lenguajes{
    display: flex;

}

.div-img-lenguajes1{
    height: 60%;
    background-image: url(../img/c.jpeg);
    background-size: 100% 100%;

}

.div-img-lenguajes2{
    height: 60%;
    background-image: url(../img/java.jpeg);
    background-size: 100% 100%;
}

.div-img-lenguajes3{
    height: 60%;
    background-image: url(../img/python.png);
    background-size: 100% 100%;
}

.lenguajes-texto h3{
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Bad Script', cursive;
}

.lenguajes-texto p{
    font-family: 'DM Sans', sans-serif;
    padding:15px;
    padding-top: 0px;
    font-size: 13px;
    text-align: justify;
}

.habilidades h2{
    /* font-family: 'Bad Script', cursive; */
    font-family: 'DM Sans', sans-serif;
}

.desarrollo{
    text-align: center;
    display: flex;
    flex-direction: column;


}


.desarrollo img{
    margin: 20px;
    box-shadow: 2px 2px 4px #7a7a7a;
}

.desarrollo-compuesto{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 243, 186);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px #7a7a7a;
    margin: 20px;
}

.desarrollo-compuesto-img{
    display: flex;
    justify-content: center;
    background-color: white ;
    width: 600px;
    border-radius: 20px;


}

.desarrollo-p{
    margin: 10px;
    width: 300px;
    text-align: center;
    /* background-color: #FAD02C; */
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
}
.contenedores{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 470px;
    margin: 20px;
}
.contenedores-img{
    background-color: powderblue;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #7a7a7a;
    margin-top: 20px;
    margin-bottom: 30px;


}

.contenedores-img img{
    width:600px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.contenedores-img p{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}


.footer{
    background-color: #FAD02C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 123px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    width: 100%;

}

.proyectos{
    width: 100%;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proyecto{
    width: 100%;
    height: 490px;
    /* background-color: palegreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
}

.botones{
    display: flex;
}

.proyecto-texto{
    text-align: justify;
    padding: 10px;
    width: 450px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
}

.proyecto h2{

    font-family: 'DM Sans', sans-serif;
    padding: 5px;

}

.proyecto img{
    border-radius: 20px;
}

#pro1{
    background-color:rgb(224, 243, 186);
}

#pro1 img{
    width: 400px;
    height: 400px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #7a7a7a;
}

#pro2{
    background-color: white;
}

#pro2 img{
    width: 600px;
    height: 400px;
    margin: 30px;
}

#pro3 img{
    width: 600px;
    height: 400px;
    margin: 30px;
    box-shadow: 2px 2px 4px #7a7a7a;
}

#pro3{
    background-color: rgb(224, 243, 186);

}

.boton{
    width: 70px;
    background-color: #df744a;
    text-align: center;
    margin-top: 20px;
    padding: 9px;
    border-radius: 8px;
    color: white;
    box-shadow:1px 1px 1px 1px #7a7a7a;
}
.boton2{
    width: 150px;
    background-color: #df744a;
    text-align: center;
    margin-top: 20px;
    padding: 9px;
    border-radius: 8px;
    color: white;
    box-shadow:1px 1px 1px 1px #7a7a7a;
}

/* Grid - sobre mi */

.contenedor-grid{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 630px;
}

.sobremi{
    grid-row: 1 / span 2;
    grid-column: 1;
    background-color:powderblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.rotar-img{
    transform: rotate(-3deg);
}

.imagen-borde img{
    width: 265px;
    height: 280px;
    border-top: solid 13px white;
    border-left: solid 13px white;
    border-right: solid 13px white;
    border-bottom: solid 50px white;
}
.sobremi p{
    text-align: justify;
    padding: 20px;
    font-family:'DM Sans', sans-serif;
    font-size: 12px;
}



/* Cursos */
.cursos h1{
    font-family:'DM Sans', sans-serif;
}

.cursos{
    grid-row: 1;
    grid-column: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
}

.cursos-dentro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.curso{
    width: 220px;
    height: 170px;
    border: solid 2px #f0885f;
    border-radius: 20px;
    margin:  20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.curso h3{
    /* background-color: #FAD02C;  */
    font-family: 'Bad Script', cursive;
    text-align: center;
    padding: 5px;

}

.curso p{
    font-family:'DM Sans', sans-serif;
    padding: 10px;
    font-size: 11px;
    text-align: justify;
}

.icono{
    display: flex;
    align-items:center;
    justify-content: center;
    /* background-color: blanchedalmond; */
    /* width: 100%; */
}

/* Liderazgo */
.liderazgo{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: black; */
}

.liderazgo h1{
    font-family:'DM Sans', sans-serif;
}

.premios-dentro{
    display: flex;
    align-items: center;
    justify-content: center;


}

.premio{
    width: 220px;
    height: 170px;
    border: solid 2px rgb(218, 243, 169);
    border-radius: 20px;
    margin:  20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menor-tamano{
    width: 230px;
    height: 195px;
}

.premio p{
    font-family:'DM Sans', sans-serif;
    padding: 10px;
    font-size: 10px;
    text-align: justify;
}

.curies-img{
    height: 90px;
    width: 90px;
}
.exc-img{
    height: 115px;
    width: 115px;
}
.inroads-img{
    height: 90px;
    width: 90px;
}

/* Formulario */
.formulario-div{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: grid;
    background-color: rgb(218, 243, 169);
    width: 600px;
    height: 410px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 60px 1fr;
    padding-top: 20px;
    border: solid 30px powderblue;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #7a7a7a;
}

.nombre-form{
    grid-row: 1;
    grid-column: 1;
    background-color: rgb(218, 243, 169);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombre-form input{
    width: 130px;
    height: 10px;
    padding: 10px;
    border: solid 1px rgb(162, 162, 162);
    border-radius: 20px;
}
.nombre-form label{

    padding: 5px;
    font-family:'DM Sans', sans-serif;
}
.telefono-form{
    grid-row: 1;
    grid-column: 2;
    background-color: rgb(218, 243, 169);
    display: flex;
    align-items: center;
    justify-content: center;
}
.telefono-form input{
    width: 130px;
    height: 10px;
    padding: 10px;
    border: solid 1px rgb(162, 162, 162);
    border-radius: 20px;
}
.telefono-form label{

    padding: 5px;
    font-family:'DM Sans', sans-serif;
}
.email-form{
    grid-row: 2;
    grid-column: 1 / span 2;
    background-color: rgb(218, 243, 169);
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-form input{
    width: 300px;
    height: 10px;
    padding: 10px;
    border: solid 1px rgb(162, 162, 162);
    border-radius: 20px;
}
.email-form label{

    padding: 5px;
    font-family:'DM Sans', sans-serif;
}

.mensaje-form{
    grid-row: 3;
    grid-column: 1 / span 2;
    background-color: rgb(218, 243, 169);
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.etiqueta{
    text-align: justify;
    width: 100%;
    font-family:'DM Sans', sans-serif;
    padding-left: 40px;
}

textarea{
    resize: none;
    width: 420px;
    height: 90px;
    margin: 20px;
    border: solid 1px rgb(162, 162, 162);
    border-radius: 20px;
    padding: 20px;
}

/* RESPONSIVE */

/* Menu responsivo */

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

.menu-responsivo{
    display: none;
}

.menu-lista{
    display: none;
}

.etiquetas-responsivas{
    display: none;
}
.etiqueta-responsiva{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed #df744a;
}

.checkbox-icono{
    cursor: pointer;
    padding-right:10px;
}

/* Media queries para iphone */
@media (max-width:420px)/*(min-width: 375px) and (max-width: 700px) and (min-height: 640px) and (max-height: 900px) */{
    .navigation-bar{
        display:none;
    }

    .menu-responsivo{
        display:flex;
        width: 100%;

    }


    .menu-lista{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content:  flex-end;
    }

    #checkbox:checked ~ .etiquetas-responsivas {
        display: block;
    }

    .nombre{
        font-size: 46px;
    }

    .lenguajes{
        flex-direction: column;
    }

    .div-lenguaje{
        transform: none;
        margin: 20px;
    }
    .desarrollo{
        margin-top: 20px;
    }

    .desarrollo h2, .subtitulos h2{
        text-align: center;
        font-size: 20px;
    }

    

    .desarrollo-compuesto{
        height: 800px;
        width: 80%;
    }

    .desarrollo-compuesto-img{
        width: 200px;
        flex-direction: column;
    }

    .contenedores-img{
        width: 80%;
    }

    .contenedores-img img{
        width: 260px;
    }

    .desarrollo{
        align-items: center;
        justify-content: center;
    }

    .contenedores-alrededor{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .contenedor-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 570px 700px 700px;
        height: 1970px;

    }

    .sobremi{
        grid-row: 1;
        grid-column: 1;
    }

    .cursos{
        grid-row: 2;
        grid-column: 1;
        height: 100%;
        
    }

    .cursos-dentro{
        flex-direction: column;
    }
    .curso{
        width: 200px;
        height: 180px;
    }

    .curso p{
        font-size: 10px;
    }
    .liderazgo{
        grid-row: 3;
        grid-column: 1;
        height: 100%;
        /* background-color: blue; */
    }

    .premio{
        width: 200px;
        height: 180px;
    }

    .premios-dentro{
        display: flex;
        flex-direction: column;
    }

    .curies-img{
        height: 80px;
        width: 80px;
    }
    .exc-img{
        height: 100px;
        width: 100px;
    }
    .inroads-img{
        height: 80px;
        width: 80px;
    }

    /* Página proyectos */
    
    .proyecto{
        height: 1100px;
         flex-direction: column;
    }

    #pro1{
        height:700px;
    }

    .proyecto-texto{
        width: 70%;
    }
    #pro1 img{
        width: 270px;
        height: 270px;
    }
    #pro2 img{
        width: 300px;
        height: 270px;
    }
    #pro3 img{
        width: 300px;
        height: 270px;
    }

    .proyecto-texto{
        align-items: center;
        justify-content: center;
    }

    /* Formulario responsive */

    .formulario-div{
        height: 900px;
    }

    body {
        height: 100%;
    }

    .form{
        width: 70%;
        height: 570px;

        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 80px 320px;
    }

    .nombre-form{
        grid-row: 1;
        grid-column:1;
        display: flex;
        flex-direction: column;

    }

    .nombre-form label{
        padding-bottom: 10px;
    }

    .telefono-form{
        grid-row: 2;
        grid-column:1;
        display: flex;
        flex-direction: column;
    }

    .telefono-form label{
        padding-bottom: 10px;
    }

    .email-form{
        grid-row: 3;
        grid-column:1;
        display: flex;
        flex-direction: column;
    }

    .email-form label{
        padding-bottom: 10px;
    }

    .email-form input{
        width: 130px;
    }

    .mensaje-form{
        grid-row: 4;
        grid-column:1;
    }

    textarea{
        width: 130px;
        margin: 0px;
        height: 120px;
    }

    .etiqueta{
        text-align: center;
        padding-left: 0px;
    }

}

/* Media queries para Ipad */
@media (min-width:421px) and (max-width:768px)/*(min-width: 768px) and (max-width: 820px) and (min-height: 1024px) and (max-height: 1180px)*/ {
    .navigation-bar{
        display:none;
    }

    .menu-responsivo{
        display:flex;
        width: 100%;

    }


    .menu-lista{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content:  flex-end;
    }

    #checkbox:checked ~ .etiquetas-responsivas {
        display: block;
    }

    .nombre{
        font-size: 60px;
    }

    .lenguajes{
        flex-direction: column;
    }

    .div-lenguaje{
        transform: none;
        margin: 20px;
    }
    .desarrollo{
        margin-top: 20px;
    }

    /* Pagina sobre-mi responsiva */
    
    .contenedor-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 550px 300px 300px;
        height: 1150px;

    }

    .sobremi{
        grid-row: 1;
        grid-column: 1;
    }

    .cursos{
        grid-row: 2;
        grid-column: 1;
        height: 100%;
    }

    .curso{
        width: 200px;
        height: 180px;
    }

    .curso p{
        font-size: 10px;
    }
    .liderazgo{
        grid-row: 3;
        grid-column: 1;
        height: 100%;
        /* background-color: blue; */
    }

    .premio{
        width: 200px;
        height: 180px;
    }

    .curies-img{
        height: 80px;
        width: 80px;
    }
    .exc-img{
        height: 100px;
        width: 100px;
    }
    .inroads-img{
        height: 80px;
        width: 80px;
    }

    /* Página proyectos */
    
    .proyecto{
        height: 1000px;
         flex-direction: column;
    }

    #pro1{
        height: 750px;
    }

    /* Formulario responsive */

    .formulario-div{
        height: 1000px;
    }
    

    
}

/* Para iPad horizontal */
@media (min-width: 769px) and (max-width: 1024px)/*(min-width: 1024px) and (max-width: 1180px) and (min-height: 768px) and (max-height: 820px)*/ {
    .navigation-bar{
        display:none;
    }

    .menu-responsivo{
        display:flex;
        width: 100%;

    }


    .menu-lista{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content:  flex-end;
    }

    #checkbox:checked ~ .etiquetas-responsivas {
        display: block;
    }

    .nombre{
        font-size: 60px;
    }

    .lenguajes{
        flex-direction: column;
    }

    .div-lenguaje{
        transform: none;
        margin: 20px;
    }
    .desarrollo{
        margin-top: 20px;
    }

    /* Pagina sobre-mi responsiva */
    
    .contenedor-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 550px 300px 300px;
        height: 1150px;

    }

    .sobremi{
        grid-row: 1;
        grid-column: 1;
    }

    .cursos{
        grid-row: 2;
        grid-column: 1;
        height: 100%;
    }

    .curso{
        width: 200px;
        height: 180px;
    }

    .curso p{
        font-size: 10px;
    }
    .liderazgo{
        grid-row: 3;
        grid-column: 1;
        height: 100%;
        /* background-color: blue; */
    }

    .premio{
        width: 200px;
        height: 180px;
    }

    .curies-img{
        height: 80px;
        width: 80px;
    }
    .exc-img{
        height: 100px;
        width: 100px;
    }
    .inroads-img{
        height: 80px;
        width: 80px;
    }

    .proyecto{
        height: 700px;
    }

    #pro2 img{
        width: 500px;
        height: 300px;
        margin: 30px;
    }

    #pro3 img{
        width: 500px;
        height: 300px;
        margin: 30px;
        box-shadow: 2px 2px 4px #7a7a7a;
    }

    .proyecto-texto{
        margin: 30px;
    }

    /* Formulario responsive */
    .footer{
        height: 123px;
    }
}

/* Para computadoras con pantalla grande */
@media (max-width: 1440px){
    .contenedor-grid{
        height: 750px;
    }

    .navigation-bar{
        height: 120px;
    }

    .logo{
        height: 90px;
        width: 90px;
    }
}